
/* HEADER */
.header {
  position: fixed; /*-- sticks to... --*/
  top: 0;          /*-- ...the top --*/
  width: 100%;     /*-- makes it show in line so take out for small media --*/
  height:6.9em;    /*-- just cosmetic, take out for final --*/
}
.main_list {
  width:70%;
  margin: 0 auto;    /*-- centers the box itself --*/
  text-align:center; /*-- text means inner .menu_box_list ul --*/
}

.cliche img {
  float:left;  
  height:8em;
}
.teace {
  float:right;
  font-family: "Hind";
  font-size: 3em;
  text-transform: uppercase;
  line-height: 2.67em;    /*-- to match... --*/
  vertical-align: middle; /*-- ...eye height --*/
}

.menu {  
  clear:both;
}
.menu li {
  display: inline-block;
}
.menu a {
  margin: 0.44em 2em;
  display: block;
  font-family: "Hind";
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;  
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
  color:#A9A9A9;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


/* SCROLLING SECTION */
.scroll-pane {
  height:25em;
  margin-top: 14em;
}
.inner {
  width: 1100px;  /* has to be in px else shows vertical scroll bar in em */
  margin: 0 auto;
  padding-left:170px;
}

/* IMAGE TRANSITIONS */
ul#images {
  padding: 0;
  list-style: none;
  position: relative;
}
ul#images li {
  display: block;
  overflow: hidden;
  padding: 0;
  float: left;
  width: 100px; /* how much width of pic showed at rest */
  height: 346px; /* has to match pic height */
}

/* ICONS */
.icons {
  width: 100%;
}
.icons ul {
  text-align:center;
}
.icons li {
  color:black;
  display: inline-block;
  font-size: 2.5em;
  margin-top: 0.25em;
  padding: 0 0.25em;
}

/* FOOTER */
.footer {
  width: 100%;
}
.footer ul {
  text-align:center;
}
.footer li {
  color:black;
  font-size: 1em;
  margin-top: 0.9em;
}
.footer li span {
  font-weight: bold;
}