/* HOME PAGE
*************************************/
.container {
  font-family: "Advent Pro", sans-serif;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color:#A9A9A9;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cliche img {
  float: left;  
  height: 8em;
  display:none;
}
.teace {
  font-size: 2em;
}
.main_list {
  width: 70%;         /*-- positions the eye and TEACE.ca --*/
  margin: 0 auto;     /*-- centers the box itself --*/
  text-align: center; /*-- centers inner lists --*/
}
.menu a {
  margin: 0.44em 2em;
  display: block;
  font-size: 1.2em;
  text-align: center; 
}
/* Scrolling Panel */
.scroll-pane {
  height: 23.5em;
  margin-top: 1em;
}
.inner {
  width: 1100px;  /* has to be in px else shows vertical scroll bar in em */
  margin: 0 auto;
  padding-left: 48px;
}
.jspArrow {  
  background-color: white;
  padding-left: 4em;
}
.jspArrow.jspDisabled {
  background-color: white;
}
/* Image Trnsition */
ul#images {
  padding: 0;
  list-style: none;
  position: relative;
}
ul#images li {
  display: block;
  overflow: hidden;
  padding: 0;
  float: left;
  width: 100px; /* how much width of pic showed at rest */
  height: 346px; /* has to match pic height */
}
/* Icons */
.icons {
  width: 100%;
}
.icons ul {
  text-align:center;
}
.icons li {
  color:black;
  display: inline-block;
  font-size: 2.5em;
  margin-top: 0.7em;
  padding: 0 0.25em;
}
/* Footer */
.footer {
  width: 100%;
  font-family: "Cardo"
;}
.footer ul {
  text-align:center;
}
.footer li {
  color:black;
  font-size: 1em;
  margin-top: 0.9em;
}
.footer li span {
  font-weight: bold;
}
.small p {
  font-size: 0.8em;
  margin-top: -0.4em;
}


/* THE COLLECTION PAGE
*************************************/
.cover {
  margin-bottom: 2em;
}
h1 {
  clear:both;
  font-size: 2em; /* changed for media */
}
p {
  font-size: 1.12em;
  line-height: 1.8em;
}
.cover img {
  margin-top: 0.5em;
}
.buy-now img {
  position: relative;
  left: -4em;  /* changed for media */
  top: 9em;    /* changed for media */
  opacity: 0.8;  
}
.buy-now img:hover {
  opacity: 1;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* shorts */
.short {
  display: block;
  width: 90%;  
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;  /* changed for media */
}
h2 {
  display: block;    
  height: 6em;
  width: 95%;
  margin: 0 auto;
  font-size: 1.5em; /* changed for media */
  line-height: 6em; /* changed for media */
}
.short img {
  display: block;
  width: 90%;
  max-width: 521px;
  margin: 0 auto;
  margin-top: -9em;
}
.short img:hover {
  opacity: 0.3;
}
/* shorts - excerpts */
.short p {
  display: block; 
  margin: 0 auto;
  font-family: "Cardo";
  font-size: 1.25em;
  text-align: left;
  margin-top: 1em;
  max-width: 521px;
}
#continued {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.7em;
  margin-top: 0.5em;
}
#start-hidden {
  display: none;  /* hides the excerpts on page load */
}
#start-hidden span {
  font-weight: bold;
}
/* go to the top button */
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 0.5em;
  display: none;
}
.go-top i {
  font-size: 3em;
}
.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}





/* MEDIA SPECIFIC
*************************************/
@media (min-width: 20px) { 
  body {
    border: 3px dotted black;
  }
  h1 {
    font-size: 1.5em;  /* changed for media */
  }
  .buy-now img {
    left: 0em;  /* changed for media */
    top: -3em;    /* changed for media */
  }
  h2 {
    font-size: 1.4em; /* changed for media */
    line-height: 2.2em; /* changed for media */
  }
  .short {
    margin-top: -4em;
    margin-bottom: 5em;
  }
}
@media (min-width: 320px) { 
  body {
    border: 3px dotted yellow;
  }
  h2 {
    line-height: 3em; /* changed for media */
  }
}
@media (min-width: 400px) { 
  body {
    border: 3px dotted orange;
  }
  .jspArrow {  
    padding-left: 6em;
  }
  h1 {
    font-size: 1.6em;
  }
  .buy-now img {
    left: -3em;  /* changed for media */
    top: 8em;    /* changed for media */
  }
  h2 {
    line-height: 3.5em; /* changed for media */
  }
  .short {
    margin-top: 2.5em;
    margin-bottom: 0em;
  }
}
/* 480px MEDIA = 1 type of Androids */
@media (min-width: 480px) { 
  body {
    border: 3px dotted red;
  }  
  .cliche img {
    display: inline; /*-- from hidden --*/
  }
  .teace {
    float: right;
    font-size: 2.8em;
    line-height: 2.8em;    /*-- to match... --*/
    vertical-align: middle; /*-- ...the eye height --*/
  }
  .menu {
    clear:both;
  }
  .menu a {
    font-size: 1.5em;
  }
  .jspArrow {  
    padding-left: 9.5em;
  }
  .short {
    margin-top: 2em;
  }
  h2 {
    line-height: 4.5em; /* changed for media */
  }
}
/* 600px MEDIA = 2 types of Androids */
@media (min-width: 600px) { 
  body {
    border: 3px dotted purple;
  } 
  h2 {
    line-height: 5.25em; /* changed for media */
  }
}
/* 640px MEDIA = 1 type of Androids */
@media (min-width: 640px) { 
  body {
    border: 3px dotted blue;
  }
  .jspArrow {  
    padding-left: 14em;
  }
  h2 {
    line-height: 5.75em; /* changed for media */
  }
}
/* 768px MEDIA = tablets */
@media (min-width: 768px) { 
  body {
    border: 3px dotted green;
  } 
  .jspArrow {  
    padding-left: 16em;
  } 
  h2 {
    line-height: 6.25em; /* changed for media */
  }
}
/* 800px MEDIA = laptops */
@media (min-width: 800px) { 
  body {
    border: 3px dotted yellow;
  }
  .main_list {
    width: 80%;
  }
  .menu li {
    display: inline-block;
  }
  .menu a {
    font-size: 1.4em;
  } 
  h1 {
    font-size: 2em; /* changed for media */
  }
  h2 {   
    font-size: 1.75em; /* changed for media */
    line-height: 7.5em; /* changed for media */
  }
  .short {
    margin-top: -1em;
    margin-bottom: 0.5em;
  }
}
/* 900px MEDIA = laptops */
@media (min-width: 900px) { 
  body {
    border: 3px dotted orange;
  }
  .inner {
    width: 900px;  /* has to be in px else shows vertical scroll bar in em */
    margin: 0 auto;
    margin-left: 0px;
  }
  .icons li {
    margin-top: 0em;
  }
}
/* 1024px MEDIA = 2 types of Androids & tables */
@media (min-width: 1024px) {  
  body {
    border: 3px dotted red;
  }
  .teace {
    font-size: 3.2em;
  }
  .main_list {
    width: 70%;      /*-- positions the eye and TEACE.ca --*/
  }
  .inner {
    width: 1100px;  /* has to be in px else shows vertical scroll bar in em */
    margin: 0 auto;
    padding-left: 160px;
  }
  .menu a {
    font-size: 2.2em;
  }
  .icons li {
  margin-top: 0em;
  }
}







/* 1280px MEDIA = laptops */
@media (min-width: 1280px) { 
  

}
/* 1366px MEDIA = laptops */
@media (min-width: 1366px) { 
  

}
/* 1400px MEDIA = laptops */
@media (min-width: 1400px) { 
  

}
/* 1680px MEDIA = desktops */
@media (min-width: 1680px) { 
  

}